{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourcegroups/eg-eventsub-eh-1389?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"eg-eventsub-eh-1389\": \"2017-08-17 06:14:09Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389\",\r\n  \"name\": \"eg-eventsub-eh-1389\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"eg-eventsub-eh-1389\": \"2017-08-17 06:14:09Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1186"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventHub/namespaces/egeventsubns7032?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventHub/namespaces/egeventsubns7032\",\r\n  \"name\": \"egeventsubns7032\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea:egeventsubns7032\",\r\n    \"createdAt\": \"2017-08-17T06:14:17.097Z\",\r\n    \"updatedAt\": \"2017-08-17T06:14:17.097Z\",\r\n    \"serviceBusEndpoint\": \"https://egeventsubns7032.servicebus.windows.net:443/\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventHub/namespaces/egeventsubns7032/providers/Microsoft.EventGrid/eventSubscriptions/eseventsubeh3035?api-version=2017-06-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"destination\": {\r\n      \"endpointType\": \"WebHook\",\r\n      \"properties\": {\r\n        \"endpointUrl\": \"https://requestb.in/1a1wyat1\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/microsoft.eventhub/namespaces/egeventsubns7032\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"destination\": {\r\n      \"endpointType\": \"WebHook\",\r\n      \"properties\": {\r\n        \"endpointBaseUrl\": \"https://requestb.in/1a1wyat1\"\r\n      }\r\n    },\r\n    \"filter\": null,\r\n    \"labels\": null\r\n  },\r\n  \"id\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventHub/namespaces/egeventsubns7032/providers/Microsoft.EventGrid/eventSubscriptions/eseventsubeh3035\",\r\n  \"name\": \"eseventsubeh3035\",\r\n  \"type\": \"Microsoft.EventGrid/eventSubscriptions\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/58A77931-C722-4D92-BA6C-B9D9491D0F08?api-version=2017-06-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/58A77931-C722-4D92-BA6C-B9D9491D0F08?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/58A77931-C722-4D92-BA6C-B9D9491D0F08?api-version=2017-06-15-preview\",\r\n  \"name\": \"58a77931-c722-4d92-ba6c-b9d9491d0f08\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14954"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventHub/namespaces/egeventsubns7032/providers/Microsoft.EventGrid/eventSubscriptions/eseventsubeh3035?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/microsoft.eventhub/namespaces/egeventsubns7032\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"destination\": {\r\n      \"endpointType\": \"WebHook\",\r\n      \"properties\": {\r\n        \"endpointBaseUrl\": \"https://requestb.in/1a1wyat1\"\r\n      }\r\n    },\r\n    \"filter\": {\r\n      \"subjectBeginsWith\": \"\",\r\n      \"subjectEndsWith\": \"\",\r\n      \"includedEventTypes\": [\r\n        \"All\"\r\n      ]\r\n    },\r\n    \"labels\": null\r\n  },\r\n  \"id\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventHub/namespaces/egeventsubns7032/providers/Microsoft.EventGrid/eventSubscriptions/eseventsubeh3035\",\r\n  \"name\": \"eseventsubeh3035\",\r\n  \"type\": \"Microsoft.EventGrid/eventSubscriptions\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14953"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/providers/Microsoft.EventGrid/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"topic\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-rg-9889\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"destination\": {\r\n          \"endpointType\": \"WebHook\",\r\n          \"properties\": {\r\n            \"endpointBaseUrl\": \"https://requestb.in/1a1wyat1\"\r\n          }\r\n        },\r\n        \"filter\": {\r\n          \"subjectBeginsWith\": \"\",\r\n          \"subjectEndsWi[...]
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventGrid/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14950"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/providers/Microsoft.EventGrid/locations/westus2/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"topic\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-9991/providers/microsoft.eventhub/namespaces/e[...]
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventGrid/locations/westus2/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"topic\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/provid[...]
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14947"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14946"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/providers/Microsoft.EventGrid/locations/westus2/topicTypes/Microsoft.Eventhub.Namespaces/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"topic\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-9991/[...]
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventGrid/locations/westus2/topicTypes/Microsoft.Eventhub.Namespaces/eventSubscriptions?api-version=2017-06-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"topic\": \"/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/[...]
    {
      "RequestUri": "//subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourceGroups/eg-eventsub-eh-1389/providers/Microsoft.EventHub/namespaces/egeventsubns7032/providers/Microsoft.EventGrid/eventSubscriptions/eseventsubeh3035/getFullUrl?api-version=2017-06-15-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"endpointUrl\": \"https://requestb.in/1a1wyat1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/resourcegroups/eg-eventsub-eh-1389?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1FRzoyREVWRU5UU1VCOjJERUg6MkQxMzg5LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "EventSubscriptionCRUDResourceScope_EventHub": [
      "eg-eventsub-eh-1389",
      "egeventsubns7032",
      "eseventsubeh3035"
    ]
  },
  "Variables": {
    "SubscriptionId": "d8dcd58b-e22d-43e7-a97f-15fa29d8c8ea"
  }
}